# Use Bzlmod (`MODULE.bazel`) instead of `WORKSPACE.bazel`.
common --enable_bzlmod
common --noenable_workspace

# Use C++17.
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# Use Clang.
build --action_env=CC=clang
build --action_env=CXX=clang++

# To allow loops with int and comparison against a .size() that's size_t.
build --copt='-Wno-sign-compare' --host_copt='-Wno-sign-compare'
run --copt='-Wno-sign-compare' --host_copt='-Wno-sign-compare'
